@import url(reset.css);

@import url(../css/components/navbar.css);
@import url(../css/components/footer.css);
@import url(../css/components/buttons.css);

@import url(../css/utils/grid/grid.css);
@import url(../css/utils/flex/flex.css);

:root {
  --clr-primary-100: hsl(219, 38%, 90%);
  --clr-primary-350: hsl(74, 29%, 66%);
  --clr-primary-500: hsl(213, 47%, 47%);
  --clr-primary-700: hsl(212, 64%, 19%);

  --clr--neutral-100: hsl(0, 0%, 100%);
}
body,
html {
  width: 100%;
  height: 100vh;
}
* {
  direction: rtl;
}
body {
  display: flex;
  flex-direction: column;
  position: relative;
}
footer,
main > *,
nav {
  padding-inline: 2rem;
}
main {
  flex: 1;
}
.fa-star {
  color: hsl(60, 100%, 40%);
}
