:root {
  --clr-primary-100: hsl(219, 38%, 90%);
  --clr-primary-350: hsl(74, 29%, 66%);
  --clr-primary-500: hsl(213, 47%, 47%);
  --clr-primary-700: hsl(212, 64%, 19%);

  --clr--neutral-100: hsl(0, 0%, 100%);
}
.btn {
  cursor: pointer;
  border-radius: 4px;
  border: 0;
  color: var(--clr--neutral-100);
  padding-block: 0.25rem;
  padding-inline: 0.5rem;
  font-size: 0.8rem;
  background-color: var(--clr-primary-500);
}

.btn:active,
.close-overlay:active {
  transform: translateY(2px);
}
