@import url(../css/utils/keyframes.css);
#AboutUsContainer {
  padding: 40px 20px;
  background-color: #fff;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.aboutUsTitle {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
  color: #333;
  padding-bottom: 16px;
  animation: slideIn 2s forwards;
}

.aboutUsContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.soldiersImg {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  order: 2;
}

.textContainer {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.aboutUsText {
  font-size: 24px;
  text-align: center;
}
