/* .aboutUsContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.soldiersImg {
    max-width: 50%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.aboutUsText {
    max-width: 50%;
    font-size: 24px;
    font-family: 'Alef', sans-serif;
}

.aboutUsTitle{
    font-family: 'Alef', sans-serif;
    text-align: center;
    padding-bottom: 16px;
} */

#AboutUsContainer {
    padding: 40px 20px;
    background-color: #fff;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.aboutUsTitle {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
    font-family: 'Alef', sans-serif;
    padding-bottom: 16px;
}

.aboutUsContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.soldiersImg {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    order: 2; /* Default order for smaller screens */
}

.textContainer {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.aboutUsText {
    font-size: 24px;
    font-family: 'Alef', sans-serif;
    text-align: center;
}

