/* :root {
  --clr-primary-100: hsl(219, 38%, 90%);
  --clr-primary-350: hsl(74, 29%, 66%);
  --clr-primary-500: hsl(213, 47%, 47%);
  --clr-primary-700: hsl(212, 64%, 19%);

  --clr--neutral-100: hsl(0, 0%, 100%);
} */
nav {
  width: 100%;
  padding-block: 2rem;
  color: var(--clr--neutral-100);
  background-color: var(--clr-primary-500);
}
.navbar-brand h3 {
  font-size: 1.5rem;
  position: relative;
}
.navbar-brand h3::after {
  background-color: var(--clr-primary-350);
  content: "";
  position: absolute;
  left: -8px;
  bottom: 8px;
  width: 3%;
  height: 4px;
  border-radius: 50%;
}

.navbar-options {
  gap: 0.5rem;
}

.current-page {
  color: var(--clr-primary-350);
}

.icon-text {
  display: none;
}
@media (min-width: 550px) {
  .icon-text {
    display: inline-block;
  }
}
